@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto|Roboto+Condensed|Open+Sans+Condensed:300|Yanone+Kaffeesatz|Abel|Pathway+Gothic+One|Ropa+Sans|Acme|News+Cycle|Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Droid+Sans|Open+Sans+Condensed:300|Ubuntu|Raleway|Source+Sans+Pro|Montserrat|Roboto+Condensed|Oswald|Dosis|Oxygen|Yanone+Kaffeesatz|Josefin+Sans|Archivo+Narrow|Quicksand|Francois+One|Rubik|PT+Sans+Narrow|Signika);
@import url(https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Oswald|PT+Mono|Gravitas+One|Old+Standard+TT|PT+Sans+Narrow|PT+Sans|PT+Serif); /* smalls */
body { font-family: onelove, arial, helvetica; color: #fff; background: url(media/img/love-from-the-021-2-17.jpg) no-repeat transparent center;     background-size: cover; overflow:hidden !important}
$img-path:'media/img/love-from-the-021-2-';
$img-root:'media/img/';
$white:#fff;
$black:transparent;
$orange:orange;

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
  
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

* { padding: 0; margin: 0}
a { text-decoration:none; outline:none;}
strong, small, span, em, a { display: inline-block}
h1 { font-family: inherit; font-size: 222%; margin:0 0 20px; font-weight:normal}

@font-face {    
  font-family: 'onelove';
  src:  url('media/fonts/1ove.ttf') format('ttf'),
        url('media/fonts/1ove.woff') format('woff')}

.slimScrollBar {
    background: #fff !important
}

html.fp-enabled,
.fp-enabled body { margin: 0; padding: 0; overflow:hidden;}
.fp-section { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height:100%}
.fp-slide { float: left}
.fp-slide, 
.fp-slidesContainer { height: 100%; display: block}
.fp-slides { z-index:1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out}
.fp-section.fp-table, 
.fp-slide.fp-table { display: table; table-layout:fixed; width: 100%; height:100%}
.fp-tableCell {    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; display: table-cell; vertical-align: middle; width: 100%; height: 100%}
.fp-slidesContainer { float: left; position: relative}
.fp-controlArrow { position: absolute; z-index: 4}
.fp-scrollable { overflow: scroll}
#fp-nav { display:none; position: fixed; z-index: 100; margin-top: -32px; bottom: 0%; opacity: 1; background: #fff none repeat scroll 0% -2%;
.right { right: 17px}
.left { left: 17px}}
.fp-slidesNav { z-index: 2147483647; opacity: 1; width: 80%; position: absolute; text-align: center; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 28px; bottom: 5px; margin-left:0 !important; overflow: hidden;
.top { top: 17px }}
#fp-nav ul,
.fp-slidesNav ul { margin: 0; padding: 0}
#fp-nav ul li,
.fp-slidesNav ul li { display: block; width: 21px;    height: 21px;    margin: 7px 3px; position:relative}
.fp-slidesNav ul li { display: inline-block} 
#fp-nav ul li a,
.fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none}
.fp-slidesNav ul li a { transform: rotate(-48deg) !important }
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li a span:hover { @include border-radius(100%)}
#fp-nav ul li:hover a span { height: 12px; width: 12px; margin: -6px 0 0 -6px; @include border-radius(100%)}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li:hover a span { height: 12px; width: 12px; margin: -6px 0 0 -6px; @include border-radius(100%); color: $orange}
#fp-nav ul li a span,
.fp-slidesNav ul li a span { @include border-radius(50%); position: absolute; z-index: 999999991; height: 4px; width: 4px; border: 0; background: $white; left: 50%; top: 50%; margin: -2px 0 0 -2px; @include transition ( all 0.1s ease-in-out)}
#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: $white; @include font-size(14px); font-family: onelove; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 100px}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip { @include transition(opacity 0.2s ease-in); width: auto; opacity: 1}
#fp-nav ul li .fp-tooltip.right { right: 20px}
#fp-nav ul li .fp-tooltip.left { left: 20px }



#menu { position:fixed; bottom:100px; right:0; height: 40px; z-index: 70; 
li { display:block;
a { text-decoration:none; color:#fff; display: block; text-align: right; padding: 5px 5px 5px 10px; font-size:22px }
&.active a, &.active a:hover { color: $orange }
&::hover{ background-color: #7FDBFF }}}
b { background-color: #000;}
p a { 
color: #fff;
    border-bottom: 1px solid #fff;
    }
.slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
    /*background:rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; */
}

.content{
    position:relative;
    background: transparent;
    @include font-size(24px);
    height: auto;
    width: 80%;
    float: left;
    padding: 0 10%;
}


#menu a:hover {
    background-color: #7FDBFF !important;
    opacity: 0.9;
    transition: 2s ease;
}

#fp-nav {         
    top:0px;
}

#actions a{
    color: #ccc;
    display: block;
}
#moveUp,
#moveDown,
.fp-prev,
.fp-next {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 20px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 14px;
    right: calc((100% - 3%) / 2);
    bottom: 5%;
        opacity: 0.2;
     
}
#moveUp,
#moveDown {
    background-color: #7FDBFF !important;
    position:absolute;
    z-index: 99999;
}  
#moveUp:hover {
    transform: rotate(43deg);
    transition: all 0.5s ease;
} 
#moveDown:hover {
    transform: rotate(-137deg);
    transition: all 0.5s ease;
} 
.fp-prev,
.fp-next {
    background-color: orange !important;
}
.fp-next:hover {
    transform: rotate(134deg);
}  
.fp-prev:hover{
    transform: rotate(-48deg);
}  

#pad {
    width: 30px;
    height: 86px;
    /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;*/
    border-radius: 50px;
    right: calc((100% - 3%) / 2);
    bottom: 29px;
    position: fixed;
    z-index: 999;
    /*
        a N S E W cross might be more efficient? 
    -webkit-clip-path: polygon(10% 37%, 35% 37%, 35% 0%, 65% 0%, 65% 36%, 91% 36%, 91% 60%, 65% 60%, 65% 100%, 35% 100%, 35% 61%, 10% 61%);
    clip-path: polygon(10% 37%, 35% 37%, 35% 0%, 65% 0%, 65% 36%, 91% 36%, 91% 60%, 65% 60%, 65% 100%, 35% 100%, 35% 61%, 10% 61%);*/
}

#moveUp { 
    transform: rotate(-138deg);
    transition: all 0.5s ease;
}
#moveDown { 
    transform: rotate(-318deg);
    transition: all 0.5s ease;
}
.fp-prev {
    transform: rotate(-228deg);
    transition: all 0.5s ease;
    position: absolute;
}
.fp-next {  
    transform: rotate(-48deg);
    transition: all 0.5s ease;
}
.fp-slidesNav a span,
.fp-slidesNav a.active span {
    background-color: orange !important;
}
#fp-nav ul li a span,
#fp-nav ul li a.active span {
    border-top: 2px solid #7FDBFF !important;
}
#fp-nav ul li {
    margin: 7px !important;
    height: 8px !important;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 769px) {
}

@media only screen and (max-width: 448px) {
}

#onepage section:nth-child(1) .slide .content h1,
#onepage section:nth-child(2) .slide .content h1 {
        margin-bottom: 0px !important;
}

.blue {
    background-color: #7FDBFF !important
}

ul,
#one-love,
#shorts,
#sayings,
#sharps,
#longs,
.content,
.content h1,
.content p,
.content a,
.L, .R,
#menu a{ 
    transition: all 1.5s ease;
}

body { 
    transition: all 3s ease;
}

#section h1,
#section3 h1 {
    margin: 0;
    font-weight: normal;
}

.by {
    color: orange;
}

#doing {
    background-position: inherit;
}

.indi-dots {
    width: 80%;   
    margin: 0 10% !important;
}
.indi-dots ul {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    float: left;       
}

.L,.R {   
    height: 28px;
    bottom: 0px;
    width: 10%;
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}
.L {
    left:0;
}
.R {
    right:0;
}

 * {
  @extend %clearfix; 
 }


.north {
    bottom : 10% !important;
    right : calc((100% - 3%) / 2) !important
}

.south {
    bottom : 5% !important;
    right : calc((100% - 3%) / 2) !important 
}

.east {
    bottom : 7% !important;
    right : calc((100% - -4%) / 2) !important
}

.west {
    bottom : 7% !important;
    right : calc((100% - 10%) / 2) !important
}

.return {
    bottom : 5% !important;
    right : calc((100% - 3%) / 2) !important
}





    .fnt ul,
    .bb-img ul {
        width: 100%;
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
        overflow-x: hidden;
        display: block;
        float: left;
    }

    .fnt li:hover {
        opacity: 0.5;
        color: orange;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .fnt {
        z-index: 999998;
        opacity: 1;
        position: absolute;
        text-align: center;
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
        top: 0px;
        width: 100%;
        overflow: hidden;
       
        font-size: 30px;
    }

    .bb-img {
        z-index: 999999;
        opacity: 1;
        position: absolute;
        text-align: center;
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
        height: 99.6785px;
        top: 0px;
        width: 100%;
        overflow: hidden;
    }



    .fnt,
    .fntR,
    .fntL {
        top: 99px !important;
    }

    .bb-img img { 
            width:150px;     
            opacity: 0.5; 
            height:99.6785px;    
             cursor: pointer;
    }
    .bb-img img:hover { 
        opacity: 1;
    }
     
    .bb-img ul li {
        display: inline-block;
        width: 150px;
        height: 99.6785px;
        margin: 0px;
        position: relative;
    }

    .fnt ul li {
        width: auto;
        padding: 10px 20px;
        display: inline-block;
        margin: 0px;
        position: relative
    }        


    .fntR,
    .imgR {
        position: fixed;
        top:0px;
        right:0px;
        width:10%;
        background-color: transparent;
        z-index: 9899999;             
         opacity: 0.2;
    }

    .fntL,
    .imgL {
        position: fixed;
        top:0px;
        left:0px;
        width:10%;
        background-color: transparent;
        z-index: 9899999;             
        opacity: 0.2;
    }

.imgR,
.imgL {
    height: 99.6785px;
}

.fntR,
.fntL {
       height: 66px;
}

#loading {
    background-color: #2c3e50;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 25% auto;
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}    

.quickSee {
    position: absolute;
    bottom: 29px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    padding: 20px;

    h2 {
        font-size: 2.3em !important;
    }
}

/* font options test */

.slide#title {
  background: #fff;
  padding: 125px 0 250px 0; }
  .slide#title .text {
    margin: 0 auto;
    width: 800px; }
  .slide#title h1 {
    color: #000;
    font: 400 87px/84px Abril Fatface; }
    .slide#title h1 span.kern {
      margin: 0 0 0 -10px; }
  .slide#title h2 {
    color: #666;
    font: 300 18px/24px 'open sans';
    margin: 0 0 36px 0;
    width: 650px; }
    .slide#title h2 a:hover {
      color: #222;
      font-weight: 700; }
  .slide#title p, .slide#title ul {
    color: #666;
    float: left;
    font: 400 13px/21px 'open sans';
    margin: 0 50px 0 0;
    width: 450px; }
  .slide#title ul {
    margin: 0;
    position: relative;
    top: -2px;
    width: 300px; }
    .slide#title ul li {
      font-size: 11px;
      position: relative;
      text-transform: uppercase; }
      .slide#title ul li:before {
        content: "\00d7";
        font-size: 15px;
        font-weight: 700;
        left: -2px;
        position: relative;
        top: 2px; }
      .slide#title ul li.donation {
        padding: 1em 0 0 0.75em; }
        .slide#title ul li.donation:before {
          content: ""; }
      .slide#title ul li a:hover {
        color: #222;
        font-weight: 700; }
.slide#herzog {
  background: #2A2C39;
  padding: 250px 0; }
  .slide#herzog .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px; }
  .slide#herzog h2 {
    color: #E9E9EB;
    font: 400 36px/1.4 'cardo';
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -10px; }
  .slide#herzog h3 {
    color: #fff;
    font: 400 36px/1.4 'cardo';
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -32px; }
    .slide#herzog h3 em {
      font-style: italic; }
.slide#nietzsche {
  background: #ef4723;
  padding: 100px 0; }
  .slide#nietzsche .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px; }
  .slide#nietzsche .excerpt {
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px; }
  .slide#nietzsche h1 {
    color: #222;
    font: 800 64px/64px 'open sans';
    margin: 0 0 32px 0;
    text-align: center;
    text-transform: uppercase;
    width: 800px; }
    .slide#nietzsche h1 span {
      font: 400 60px/60px 'gentium book basic';
      font-style: italic;
      text-transform: none; }
      .slide#nietzsche h1 span.kern {
        margin: 0 4px 0 -10px; }
  .slide#nietzsche h2 {
    border-top: 1px solid #222;
    color: #222;
    font: 800 20px/20px 'open sans';
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase; }
    .slide#nietzsche h2 span {
      background: #ef4723;
      padding: 0 20px;
      position: relative;
      top: -10px; }
  .slide#nietzsche p {
    color: #222;
    font: 400 16px/24px 'gentium book basic';
    margin: 0; }
.slide#bringhurst {
  background: #fcfaf2;
  padding: 350px 0; }
  .slide#bringhurst .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 410px; }
  .slide#bringhurst h1 {
    color: #333;
    font: 400 40px/40px 'vollkorn';
    font-style: italic;
    margin: 0 0 10px 0;
    text-indent: -6px; }
  .slide#bringhurst p {
    color: #c90707;
    font: 400 12px/18px 'vollkorn';
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -13px; }
.slide#thin {
  background: #0ac5f4;
  padding: 200px 0; }
  .slide#thin .text {
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    width: 800px; }
  .slide#thin li {
    color: #fff;
    font: 100 92px/1 'lato';
    text-transform: uppercase; }
    .slide#thin li .kern {
      margin: 0 0 0 6px; }
    .slide#thin li:nth-child(1) {
      opacity: 0.3; }
    .slide#thin li:nth-child(2) {
      opacity: 0.4; }
    .slide#thin li:nth-child(3) {
      opacity: 0.5; }
    .slide#thin li:nth-child(4) {
      opacity: 0.6; }
    .slide#thin li:nth-child(5) {
      opacity: 0.7; }
    .slide#thin li:nth-child(6) {
      opacity: 0.8; }
.slide#nabokov {
  background: rgba(133, 135, 141, 0.7);
  padding: 0 0 300px 0; }
  .slide#nabokov .text {
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    width: 700px; }
  .slide#nabokov h1 {
    color: #242526;
    font: italic 700 84px/1.2 'playfair display'; }
    .slide#nabokov h1.first {
      float: left;
      padding: 200px 0 0 0;
      margin: 0 0 -10px 0;
      width: 142px; }
    .slide#nabokov h1.second {
      border-left: 8px solid #242526;
      float: left;
      margin: 0 0 -10px 0;
      padding: 200px 0 0 25px;
      width: auto; }
    .slide#nabokov h1.third {
      clear: both;
      font-style: normal;
      font-weight: 900;
      margin: 0 0 0 172px; }
  .slide#nabokov p {
    color: #2e2f31;
    font: 400 14px/1 'playfair display';
    letter-spacing: 1px;
    margin: 18px 0 0 175px;
    text-transform: uppercase; }
.slide#seneca {
  background: #caccc9;
  padding: 150px 0; }
  .slide#seneca .text {
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    width: 820px; }
  .slide#seneca .body {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px; }
  .slide#seneca h1 {
    color: #222;
    font: 900 42px/44px 'merriweather';
    letter-spacing: -1px;
    margin: 44px 0 0 0; }
  .slide#seneca hr {
    background: #333;
    border: 0;
    height: 3px;
    margin: 19px 0 22px 0;
    width: 100px; }
  .slide#seneca h2 {
    color: #333;
    font: 900 14px/22px 'merriweather'; }
  .slide#seneca p.title {
    color: #c3322f;
    font: 900 14px/22px 'lato'; }
  .slide#seneca p {
    color: #333;
    font: 400 14px/22px 'merriweather'; }
.slide#tufte {
  background: #f8f5ef;
  padding: 300px 0; }
  .slide#tufte .text {
    margin: 0 auto;
    padding: 20px;
    width: 860px; }
  .slide#tufte h1 {
    border-top: 5px solid #172bae;
    color: #172bae;
    font: 300 92px/1 'vollkorn';
    letter-spacing: -1px;
    margin: 0 0 0 -8px; }
    .slide#tufte h1 span {
      background: #f8f5ef;
      padding: 0 19px 0 0;
      position: relative;
      top: -52px; }
      .slide#tufte h1 span.kern {
        background: transparent;
        margin: 0 0 0 -5px;
        padding: 0;
        top: 0; }
        .slide#tufte h1 span.kern.push {
          margin: 0 0 0 7px; }
  .slide#tufte p {
    color: #172bae;
    font: 400 20px/30px 'vollkorn';
    font-style: italic;
    margin: -40px 0 0 300px;
    text-indent: -16px; }
    .slide#tufte p span {
      font-size: 28px;
      font-family: 'gentium book basic';
      font-weight: 400;
      margin: 0 2px 0 0;
      position: relative;
      top: 5px; }
.slide#postnormal {
  background: #fff;
  padding: 150px 0; }
  .slide#postnormal .text {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 860px; }
  .slide#postnormal .source {
    clear: both;
    font: normal 10px/16px 'pt mono';
    opacity: 0.3;
    padding: 28px 0 0 0;
    text-transform: uppercase; }
  .slide#postnormal h2 {
    color: #FFF700;
    font: bold 164px/1 'oswald';
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1; }
    .slide#postnormal h2:nth-child(1) {
      left: 0px; }
    .slide#postnormal h2:nth-child(2) {
      top: 160px;
      text-align: center; }
    .slide#postnormal h2:nth-child(3) {
      text-align: right;
      top: 318px; }
  .slide#postnormal ol {
    float: left;
    position: relative;
    width: auto;
    z-index: 2; }
    .slide#postnormal ol li {
      color: #222;
      font: normal 13px/54px 'pt mono';
      letter-spacing: 5px; }
    .slide#postnormal ol.normal {
      opacity: 0.3; }
    .slide#postnormal ol.forward {
      margin: 0 60px; }
.slide#slogan {
  background: #c00;
  padding: 325px 0;
  text-align: center; }
  .slide#slogan .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 700px; }
  .slide#slogan h1 {
    border-bottom: 6px solid #090909;
    color: #090909;
    display: inline-block;
    font: 400 76px/64px 'Gravitas One';
    letter-spacing: -4px;
    margin: 0 0 20px 0;
    padding: 0 4px;
    text-transform: lowercase; }
.slide#darwin {
  background: #ede0ce;
  padding: 150px 0;
  text-align: center; }
  .slide#darwin .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 750px; }
  .slide#darwin h1 {
    color: #161616;
    font: 400 58px/58px 'old standard tt';
    margin: 0 0 32px 0;
    text-transform: uppercase; }
    .slide#darwin h1.small {
      font-size: 18px; }
  .slide#darwin h2 {
    color: #161616;
    font: 400 28px/28px 'old standard tt';
    margin: 160px 0 14px 0;
    text-transform: uppercase; }
  .slide#darwin h3 {
    color: #161616;
    font: 400 14px/21px 'old standard tt';
    margin: 0 0 80px 0;
    text-transform: uppercase; }
  .slide#darwin h4 {
    color: #161616;
    font: 400 14px/21px 'old standard tt';
    font-style: italic;
    margin: 0; }
.slide#headline {
  background: #000;
  padding: 300px 0; }
  .slide#headline .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 470px; }
  .slide#headline h1 {
    color: #ffffff;
    font: 400 92px/84px Abril Fatface; }
.slide#camus {
  background: #fff;
  padding: 225px 0; }
  .slide#camus .text {
    margin: 0 auto;
    padding: 0 20px;
    width: 205px; }
  .slide#camus h1 {
    color: #222;
    font: 700 24px/24px 'pt sans narrow';
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .slide#camus hr {
    background: #333;
    border: 0;
    height: 2px;
    margin: 12px auto 8px;
    width: 60px; }
    .slide#camus hr.bottom {
      margin: 10px auto; }
  .slide#camus h2 {
    color: #222;
    font: 700 16px/20px 'pt sans';
    margin: 0;
    text-align: center; }
  .slide#camus p {
    color: #222;
    font: 400 14px/18px 'pt serif';
    text-align: justify;
    text-indent: 14px; }

    #saaitjies h1 {     
        color: #fff;    
        font: 400 92px/84px 'san-serif'
    }

    #saaitjies .slide  {
        background-color:transparent;
        margin: 0 auto;
        padding: 0px 0px;
    }    

    /* https://jsfiddle.net/simurai/baBN9/ */
    p, h1 { resize: both }

    /* http://www.mrmcguire.com/10-useful-google-font-combinations-for-your-next-site/ 
       https://femmebot.github.io/google-type/*/
    .font-presets {
        /* */
    }