body {
  font-family: onelove, arial, helvetica;
  color: #fff;
  background: url(media/img/love-from-the-021-2-66.jpg) repeat #000000 93%;
  background-size: cover;
  background-repeat-y: repeat;
  }
a {
  text-decoration: none;
  outline: none;
  color: #fff }

strong, small, span, em, a {
  display: inline-block; }

h1 {
  font-family: inherit;
  font-size: 222%;
  margin: 0 0 20px;
  font-weight: normal; }

@font-face {
  font-family: 'onelove';
  src: url("media/fonts/1ove.ttf") format("ttf"), url("media/fonts/1ove.woff") format("woff"); }
.slimScrollBar {
  background: #fff !important; 
width:20px !important;}

.content {
  margin: 45% 5%;
  zoom: 1.5;
}