@font-face {
  font-family: 'onelove';
  src:  url("media/fonts/1ove.ttf") format("ttf"), 
        url("media/fonts/1ove.woff") format("woff"); }
        body {
  margin: 0;
  font-family:  onelove, courier, arial, helvetica;
  color: #000;
}

.uc {
   text-transform: uppercase;
}

body {
  text-align:center;
}

strong, small, span, em, a {
  display: inline-block;
}

a {
  text-decoration: none;
  outline: none;
  color: #000 
}

h1 {
  font-family: inherit;
  font-size: 222%;
  margin: 0 0 20px;
  font-weight: normal;
}

._oo_menu {

}

.content {
    zoom: 1.5;
    -moz-transform: scale(1.5);
    max-width: 500px;
    margin: 45% auto;
    padding: 0 5%;
}

.whobemewhenwebethree {
  display: block;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

@media only screen and (max-width: 400px) {
  .content {
      padding: 50% 5%;
  }
}  


@media only screen and (max-width: 600px) {
  .content {
      padding: 25% 5%;
  }
}  

@media only screen and (max-width: 800px) {
  .content {
      padding: 15% 5%;
  }
}  

#searchByTitle {
  z-index: 11111111111 !important;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(215, 134, 31, 1);
  display: none;
}

#searchByTitle h1 {
  display:block;
  width: calc(20% - 20px);
  height: 100px;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left; 
  background-color: white;
  margin: 0;
  background: rgba(215, 134, 31, 1);
  padding: 10px;
  box-shadow: 1px 2px 4px #000;
  cursor: pointer;
  /*transition: all .2s ease-in-out;*/
}

#searchByTitle h1:hover {
  font-size: 16px;
  transform: scale(1);
}

#searchByTitle small {
  font-size: 12px !important;
}

#menuOverlay {
  background: rgba(215, 134, 31, .5);
  width: 30px;
  left: 50%;
  position: fixed;
  height: 30px;
  bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#menuOverlay:hover {
  background: rgba(215, 134, 31, 1);
}

.flagged {
  display: none !important;
}