@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Open+Sans+Condensed:300|Yanone+Kaffeesatz|Abel|Pathway+Gothic+One|Ropa+Sans|Acme|News+Cycle|Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Droid+Sans|Open+Sans+Condensed:300|Ubuntu|Raleway|Source+Sans+Pro|Montserrat|Roboto+Condensed|Oswald|Dosis|Oxygen|Yanone+Kaffeesatz|Josefin+Sans|Archivo+Narrow|Quicksand|Francois+One|Rubik|PT+Sans+Narrow|Signika);
body { font-family: onelove, arial, helvetica; color: #fff; background: url(media/img/love-from-the-021-2-17.jpg) no-repeat transparent center;     background-size: cover}
$img-path:'media/img/love-from-the-021-2-';
$img-root:'media/img/';
$white:#fff;
$black:transparent;
$orange:orange;

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
  
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

* { padding: 0; margin: 0}
a { text-decoration:none; outline:none;}
strong, small, span, em, a { display: inline-block}
h1 { font-family: inherit; font-size: 222%; margin:0 0 20px; font-weight:normal}

@font-face {    
  font-family: 'onelove';
  src:  url('media/fonts/1ove.ttf') format('ttf'),
        url('media/fonts/1ove.woff') format('woff')}

.slimScrollBar {
    background: #fff !important
}

html.fp-enabled,
.fp-enabled body { margin: 0; padding: 0; overflow:hidden;}
.fp-section { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height:100%}
.fp-slide { float: left}
.fp-slide, 
.fp-slidesContainer { height: 100%; display: block}
.fp-slides { z-index:1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out}
.fp-section.fp-table, 
.fp-slide.fp-table { display: table; table-layout:fixed; width: 100%; height:100%}
.fp-tableCell {    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; display: table-cell; vertical-align: middle; width: 100%; height: 100%}
.fp-slidesContainer { float: left; position: relative}
.fp-controlArrow { position: absolute; z-index: 4}
.fp-scrollable { overflow: scroll}
#fp-nav { display:none; position: fixed; z-index: 100; margin-top: -32px; bottom: 0%; opacity: 1; background: #fff none repeat scroll 0% -2%;
.right { right: 17px}
.left { left: 17px}}
.fp-slidesNav { z-index: 2147483647; opacity: 1; width: 80%; position: absolute; text-align: center; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; height: 28px; bottom: 0px; margin-left:0 !important; overflow: hidden;
.top { top: 17px }}
#fp-nav ul,
.fp-slidesNav ul { margin: 0; padding: 0}
#fp-nav ul li,
.fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position:relative}
.fp-slidesNav ul li { display: inline-block} 
#fp-nav ul li a,
.fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none}
.fp-slidesNav ul li a { transform: rotate(-48deg) !important }
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li a span:hover { @include border-radius(100%)}
#fp-nav ul li:hover a span { height: 12px; width: 12px; margin: -6px 0 0 -6px; @include border-radius(100%)}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li:hover a span { height: 12px; width: 12px; margin: -6px 0 0 -6px; @include border-radius(100%); color: $orange}
#fp-nav ul li a span,
.fp-slidesNav ul li a span { @include border-radius(50%); position: absolute; z-index: 999999991; height: 4px; width: 4px; border: 0; background: $white; left: 50%; top: 50%; margin: -2px 0 0 -2px; @include transition ( all 0.1s ease-in-out)}
#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: $white; @include font-size(14px); font-family: onelove; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 100px}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip { @include transition(opacity 0.2s ease-in); width: auto; opacity: 1}
#fp-nav ul li .fp-tooltip.right { right: 20px}
#fp-nav ul li .fp-tooltip.left { left: 20px }



#menu { position:fixed; bottom:30px; right:0; height: 40px; z-index: 70; 
li { display:block;
a { text-decoration:none; color:#fff; display: block; text-align: right; padding: 0 5px 0 10px; }
&.active a, &.active a:hover { color: $orange }
&::hover{ background-color: #7FDBFF }}}
b { background-color: #000;}
p a { 
color: #fff;
    border-bottom: 1px solid #fff;
    }
.slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
    /*background:rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; */
}

.content{
    position:relative;
    background: transparent;
    padding: 20px;
    text-align: left;
    @include font-size(24px);
    height: auto;
    width: 40%;
    float: left;
}


#menu a:hover {
    background-color: #7FDBFF !important;
    opacity: 0.9;
    transition: 2s ease;
}

#fp-nav {         
    top:0px;
}

#actions a{
    color: #ccc;
    display: block;
}
#moveUp,
#moveDown,
.fp-prev,
.fp-next {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 20px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 14px;
    right: calc((100% - 3%) / 2);
    bottom: 5%;
        opacity: 0.2;
     
}
#moveUp,
#moveDown {
    background-color: #7FDBFF !important;
    position:absolute;
    z-index: 99999;
}  
#moveUp:hover {
    transform: rotate(43deg);
    transition: all 0.5s ease;
} 
#moveDown:hover {
    transform: rotate(-137deg);
    transition: all 0.5s ease;
} 
.fp-prev,
.fp-next {
    background-color: orange !important;
}
.fp-next:hover {
    transform: rotate(134deg);
}  
.fp-prev:hover{
    transform: rotate(-48deg);
}  

#pad {
    width: 30px;
    height: 86px;
    /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;*/
    border-radius: 50px;
    right: calc((100% - 3%) / 2);
    bottom: 29px;
    position: fixed;
    z-index: 999;
    /*
        a N S E W cross might be more efficient? 
    -webkit-clip-path: polygon(10% 37%, 35% 37%, 35% 0%, 65% 0%, 65% 36%, 91% 36%, 91% 60%, 65% 60%, 65% 100%, 35% 100%, 35% 61%, 10% 61%);
    clip-path: polygon(10% 37%, 35% 37%, 35% 0%, 65% 0%, 65% 36%, 91% 36%, 91% 60%, 65% 60%, 65% 100%, 35% 100%, 35% 61%, 10% 61%);*/
}

#moveUp { 
    transform: rotate(-138deg);
    transition: all 0.5s ease;
}
#moveDown { 
    transform: rotate(-318deg);
    transition: all 0.5s ease;
}
.fp-prev {
    transform: rotate(-228deg);
    transition: all 0.5s ease;
    position: absolute;
}
.fp-next {  
    transform: rotate(-48deg);
    transition: all 0.5s ease;
}
.fp-slidesNav a span,
.fp-slidesNav a.active span {
    background-color: orange !important;
}
#fp-nav ul li a span,
#fp-nav ul li a.active span {
    border-top: 2px solid #7FDBFF !important;
}
#fp-nav ul li {
    margin: 7px !important;
    height: 8px !important;
}

@media only screen and (max-width: 768px) {
 .content {
        width: 90%;        
    }

    #onepage section:nth-child(4) .slide .content {
        padding-bottom: 120px;
    }

    #section #doing .content {
        width: 50% !important;
    }

    #section #doing .saying{
        width: 80%;
    }
}

@media only screen and (min-width: 769px) {

    .content {
        width: 40%;
    }

    #longs, #shorts, #sayings, #sharps {
        font-size: 1.2em;
        bottom: 0px;        
        height: 1.2em;
        bottom: 29px;
    }
}

@media only screen and (max-width: 448px) {
    h1 {
        font-size: 151%;
        font-weight: normal;
    }
}

#onepage section:nth-child(1) .slide .content h1,
#onepage section:nth-child(2) .slide .content h1 {
        margin-bottom: 0px !important;
}

.blue {
    background-color: #7FDBFF !important
}

ul,
#one-love,
#shorts,
#sayings,
#sharps,
#longs,
.content,
.content h1,
.content p,
.content a,
.L, .R,
#menu a{ 
    transition: all 1.5s ease;
}

body { 
    transition: all 3s ease;
}

#section h1,
#section3 h1 {
    margin: 0;
    font-weight: normal;
}

.by {
    color: orange;
}

#doing {
    background-position: inherit;
}

.indi-dots {
    width: 80%;   
    margin: 0 10% !important;
}
.indi-dots ul {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    float: left;       
}
.L:hover,
.R:hover {
    background: orange none repeat scroll 0% 0%;
    opacity: 0.1;
}
.L,.R {   
    height: 28px;
    bottom: 0px;
    width: 10%;
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}
.L {
    left:0;
}
.R {
    right:0;
}

 * {
  @extend %clearfix; 
 }

.bb-img img { width:100px;     opacity: 0.5; height:66.6785px;     cursor: pointer;}
.bb-img img:hover { opacity: 1;}

.north {
    bottom : 10% !important;
    right : calc((100% - 3%) / 2) !important
}

.south {
    bottom : 5% !important;
    right : calc((100% - 3%) / 2) !important 
}

.east {
    bottom : 7% !important;
    right : calc((100% - -4%) / 2) !important
}

.west {
    bottom : 7% !important;
    right : calc((100% - 10%) / 2) !important
}

.return {
    bottom : 5% !important;
    right : calc((100% - 3%) / 2) !important
}


    .fnt ul,
    .bb-img ul {
        width: 100%;
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
        overflow-x: hidden;
        display: block;
        float: left;
    }

    .fnt li:hover {
        opacity: 0.5;
        color: orange;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .fnt {
        z-index: 999998;
        opacity: 1;
        position: absolute;
        text-align: center;
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
        top: 0px;
        width: 80%;
        overflow: hidden;
        margin: 0 10% !important;
    }



    .bb-img {
        z-index: 999999;
        opacity: 1;
        position: absolute;
        text-align: center;
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
        height: 66.6785px;
        top: 0px;
        width: 80%;
        margin: 0 10% !important;
        overflow: hidden;
    }



    .fnt,
    .fntR,
    .fntL {
        top: 67px !important;
    }

 
    .bb-img ul li {
        display: inline-block;
        width: 100px;
        height: 66.6785px;
        margin: 0px;
        position: relative;
    }

    .fnt ul li {
        width: auto;
        padding: 10px 20px;
        display: inline-block;
        margin: 0px;
        position: relative
    }        


    .fntR,
    .imgR {
            position: fixed;
        top:0px;
        right:0px;
        width:10%;
        background-color: #000;
        z-index: 9899999;             
         opacity: 0.2;
    }

    .fntL,
    .imgL {
        position: fixed;
        top:0px;
        left:0px;
        width:10%;
        background-color: #000;
        z-index: 9899999;             
        opacity: 0.2;
    }

.imgR,
.imgL {
    height: 66.6785px;
}

.fntR,
.fntL {
    height: 44px;
}

#loading {
    background-color: #2c3e50;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 25% auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}    

.quickSee {
    position: absolute;
    bottom: 29px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    padding: 20px;
}